body {
    background-color: rgb(243, 233, 241);
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
}

#logo_orinoco {
    width: 190px;
}

header i {
    font-size: 2em;
    background: linear-gradient(to right, rgb(230, 138, 8), rgb(143, 91, 254));
    color: transparent;
    -webkit-background-clip: text;
}

header a {
    margin-top: auto;
    margin-bottom: auto;    
}

/* SECTION */
.module-border-wrap {
    background: linear-gradient(to right, #E68A08, #8F5BFE);
    padding: 2.5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.module {
    background: #F3E9F1;
    /*color: white;*/
}

#presentation_orinoco {
    height: 150px;
    display: flex;
}

#presentation_orinoco div {
    width: 100%;
}

section h1, section h2, section h3, h4, p {
    background: -webkit-gradient(linear, left top, left bottom, from(#E68A08), to(#8F5BFE));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titre_presentation {
    margin-bottom: auto;
    margin-top: auto;
}

#titre_presentation h1 {
    width: 100%;
    text-align: center;
}

#presentation_orinoco img {
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}

/* Section JS */

#peluches img {
    width: 150px;
    height: 110px;
    border: thick double rgb(253, 243, 251);
    border-radius: 50%;
}

#peluches {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#peluches .module-border-wrap {
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
}

a {
    text-decoration: none;
}

.lienProduit {
    display: block;
    border: 0.1px solid transparent;
}

/* FOOTER */

footer
{
    display: flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    font-size: 1.2em;
}

footer h3
{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#E68A08), to(#8F5BFE));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer h3:hover
{
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
}

@keyframes wiggle 
{
    0% {transform:translate(1px, 1px) rotate(0deg);}
    10% {transform:translate(-1px, -2px) rotate(-1deg);}
    20% {transform:translate(-3px, 0px) rotate(1deg);}
    30% {transform:translate(3px, 2px) rotate(0deg);}
    40% {transform:translate(1px, -1px) rotate(1deg);}
    50% {transform:translate(-1px, 2px) rotate(-1deg);}
    60% {transform:translate(-3px, 1px) rotate(0deg);}
    70% {transform:translate(3px, 1px) rotate(-1deg);}
    80% {transform:translate(-1px, -1px) rotate(1deg);}
    90% {transform:translate(1px, 2px) rotate(0deg);}
    100% {transform:translate(1px, -2px) rotate(-1deg);}
}

/* MEDIA QUERRIES */

@media screen and (max-width:1023px) 
{
    #peluches {
        flex-direction: column;
        width: 60%;
    }
    
    #peluches .module-border-wrap {
        margin-bottom: 5%;
    }
    
    footer {
        position: static;
    }
    
    footer h3 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:425px) 
{
    #logo_orinoco {
    width: 120px;
    }
    
    header i {
    font-size: 1.5em;
    }
    
    #presentation_orinoco {
        flex-direction: column;
        justify-content: center;
        height: 190px;
    }
    
    #image_deux {
        display: none;
    }
    
    #presentation_orinoco img {
        margin-left: auto;
        margin-right: auto;
    }
    
    #border_presentation {
        width: 90%;
    }
    
    footer h3 {
        font-size: 0.9em;
    }
}
